<p style="color: green"><%= notice %></p>

<h1>Departamentos</h1>

<table class="table table-bordered table-hover ">
  <thead>
    <tr>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <% @departamentos.each do |departamento| %>
      <tr>
        <td><%= departamento.nome %></td>
        <td><%= link_to 'Show', departamento %></td>
        <td><%= link_to 'Edit', edit_departamento_path(departamento)%>
        <td><%= link_to 'Destroy', departamento, method: :delete,  data: {confirm: 'Tem certeza que deseja deletar esse Departamento?'}%> </td>
    <% end %>
  </tbody>
</table>
<%= link_to "New departamento", new_departamento_path %>
