<p style="color: green"><%= notice %></p>

<!-- <%= render @departamento %> -->

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Departamento</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th colspan="2"></td>
        </tr>
    </thead>
    <tbody>
        <%= render @produtos_por_departamento %>
    </tbody>
</table>

<div>
  <%= link_to "Editar", edit_departamento_path(@departamento), class:"btn btn-default" %> |
  <%= link_to "Voltar", departamentos_path, class:"btn btn-default" %> |
  <%= link_to "Remover", @departamento, method: :delete, class:"btn btn-default" %>
</div>
